{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["@typescript-eslint", "react-hooks"],
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "__DEV__": false
  }
}
